<site-layout>
    <@title>MyAnglingNet</@title>
    <@content>
        <div id="form-div">
            <logo-image/>
                        
            <if (data.message.length > 0)>
                <div class="alert alert-danger">${data.message}</div>
            </if>

            <login-form/>

            <p>Don't have an account? <a class="orange-text" href="/signup">Sign Up</a></p>
        </div>
    </@content>
</site-layout>