<site-layout>
    <@title>MyAnglingnet</@title>
    <@content>
<form#map-form action="/mapentry" method="post">
    <input#map-data type="text" name="mapEntry" />
    <button type="submit">Login</button>
</form>
        <map-component/>
    </@content>
</site-layout>