<site-layout>
    <@title>MyAnglingNet</@title>
    <@content>
        <div id="form-div">
            <logo-image/>
            
            <if (data.message.length > 0)>
                <div class="alert alert-danger">${data.message}</div>
            </if>

            <signup-form/>

            <p>Already have an account? <a class="orange-text" href="/login">Log In</a></p>
        </div>
    </@content>
</site-layout>