<div.modal key="modal-window">
    <div.modal-content>
        <span.close key="modal-close" on-click("hideModal")>&times;</span>
        
        <input class="position" type="text" name="position" key="position" readonly>
        <button key="button" on-click("addMapMarker")>Add Stuff</button>
    </div>
</div>