<div.modal key="modal-window">
    <div.modal-content>
        <span.close key="modal-close" on-click("hideModal")>&times;</span>
        <p.modal-text key="modal-text"></p>
        <button on-click("addMapMarker")>Add Stuff</button>
    </div>
</div>