* {
  box-sizing: border-box;
}
html, body {    
  background-color: #262626;
  color: #262626;
  font-family: 'Lato', sans-serif;
  height: 100%;
  line-height: 1.2em;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
a {
  color: #262626;
  outline: 0;
  text-decoration: none;
}
li {
  list-style: none;
}

/* ---------------------------------------------------- */
/* STRUCTURE
/* ---------------------------------------------------- */
#main-content {
  bottom: 0;
  padding-top: 62.5px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ---------------------------------------------------- */
/* HEADER
/* ---------------------------------------------------- */
header {
  background-color: #fff;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* ---------------------------------------------------- */
/* FORMS
/* ---------------------------------------------------- */
#form-div {
  background-color:#fff;
  margin: 25px auto 25px;
  max-width: 600px;
  padding: 25px 0;
  text-align: center;
  width: 90%
}

@media screen and (min-width: 768px) {
  #form-div {
    margin-top: 80px;
    padding: 35px;
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  #form-div {
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  #form-div {
    margin-top: 100px;
    width: 45%;
  }
}

/* ---------------------------------------------------- */
/* LOGO
/* ---------------------------------------------------- */
.logo-small {
  height: 50px;
  width: auto;
}
.logo-med {
  height: 65px; 
}

/* ---------------------------------------------------- */
/* COLOURS
/* ---------------------------------------------------- */
.orange-text {
  color: #CE2F06;
}
.orange-text:hover {
  opacity: 0.8;
}